CLAUDE.md
.claude/
.cache/
.vscode/
# Compiled files
*.a
*.dll
*.dylib
*.exe
*.la
*.lib
*.lo
*.o
*.obj
*.out
*.so
*.so.*

# Cache
*.pyc
__pycache__/

# Build directories
src/bin
obj/
build/
build*/

# Workspace
_wks/

# OS Files
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.pdb
